Repository thawkin3/js-data-structures-and-algorithms: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, eslint --fix, prettier --write

.lintstagedrc:

{
  "*.css": [
    "stylelint --fix"
  ],
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.md": [
    "prettier --write"
  ]
}

chore(release): 1.12.1
  CHANGELOG.md
  package.json
Due: prettier --write

chore: upgrades dependencies
  .eslintrc.json
  .prettierrc
  package.json
  yarn.lock
Due: none

chore(storybook): builds storybook static site v31
  storybook-dist/0.733027ac.iframe.bundle.js
  storybook-dist/0.c8bfaecc233b5ee4c2de.manager.bundle.js
  storybook-dist/10.908e40c81ef5762e4e6a.manager.bundle.js
  storybook-dist/10.908e40c81ef5762e4e6a.manager.bundle.js.LICENSE.txt
  storybook-dist/11.404f928febacec26f4c1.manager.bundle.js
  storybook-dist/12.6e3bba1ebcbceadd7f90.manager.bundle.js
  storybook-dist/13.f4916ecfc1ae8db3695f.manager.bundle.js
  storybook-dist/13.f4916ecfc1ae8db3695f.manager.bundle.js.LICENSE.txt
  storybook-dist/4.42e7ac096c87d6b2bbd6.manager.bundle.js
  storybook-dist/4.42e7ac096c87d6b2bbd6.manager.bundle.js.LICENSE.txt
  storybook-dist/5.c6e8bbac529fc3a0d111.manager.bundle.js
  storybook-dist/6.43ca86d73f8b013c1147.manager.bundle.js
  storybook-dist/7.332c6bddae98466fc74f.manager.bundle.js
  storybook-dist/8.31b1fcf1df0801c904ff.manager.bundle.js
  storybook-dist/8.31b1fcf1df0801c904ff.manager.bundle.js.LICENSE.txt
  storybook-dist/9.80b1068865ea380144c5.manager.bundle.js
  storybook-dist/iframe.html
  storybook-dist/index.html
  storybook-dist/main.cb4f8469064561bafcc7.manager.bundle.js
  storybook-dist/main.cf7d4ae9077db9c932c8.manager.bundle.js
  storybook-dist/main.d5a969db.iframe.bundle.js
  storybook-dist/main.fa70eda5.iframe.bundle.js
  storybook-dist/project.json
  storybook-dist/runtime~main.42d170403d03da9984c4.manager.bundle.js
  storybook-dist/runtime~main.5b3b37a5880e4df84c98.manager.bundle.js
  storybook-dist/runtime~main.a51f8bae.iframe.bundle.js
  storybook-dist/runtime~main.b0af52cf.iframe.bundle.js
  storybook-dist/vendors~main.638b5667.iframe.bundle.js
  storybook-dist/vendors~main.638b5667.iframe.bundle.js.LICENSE.txt
  storybook-dist/vendors~main.638b5667.iframe.bundle.js.map
  storybook-dist/vendors~main.923ef88f0fdd7ac2a5ad.manager.bundle.js
  storybook-dist/vendors~main.d62034ac.iframe.bundle.js
  storybook-dist/vendors~main.d62034ac.iframe.bundle.js.map
  storybook-dist/vendors~main.db18f16359f60198e93f.manager.bundle.js
  storybook-dist/vendors~main.db18f16359f60198e93f.manager.bundle.js.LICENSE.txt
Due: eslint --fix, prettier --write

chore(release): 1.12.2
  CHANGELOG.md
  package.json
Due: prettier --write

chore: upgrades stylelint dependencies
  .stylelintrc
  package.json
  yarn.lock
Due: none

chore(release): 1.12.3
  CHANGELOG.md
  package.json
Due: prettier --write

feat: adds DirectedGraph data structure
  src/data-structures/directed-graph/src/directed-graph.js
  src/data-structures/directed-graph/src/directed-graph.test.js
Due: eslint --fix, prettier --write

feat: implements breadth-first search on a graph
  src/data-structures/directed-graph/src/directed-graph.js
  src/data-structures/directed-graph/src/directed-graph.test.js
Due: eslint --fix, prettier --write

test: increases DirectedGraph coverage to 100%
  src/data-structures/directed-graph/src/directed-graph.js
  src/data-structures/directed-graph/src/directed-graph.test.js
Due: eslint --fix, prettier --write

feat: implements depth-first search on a directed graph
  src/data-structures/directed-graph/src/directed-graph.js
  src/data-structures/directed-graph/src/directed-graph.test.js
Due: eslint --fix, prettier --write

chore(release): 1.13.0
  CHANGELOG.md
  package.json
Due: prettier --write
